[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ config_dir }}config.json

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ bin_dir }}consul agent -config-dir={{ config_dir }}
ExecReload={{ bin_dir }}consul reload
KillMode=process
Restart=on-failure
RestartSec=42s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
