consul:
  service: true

  config:
    server: true
    bind_addr: 0.0.0.0

    enable_debug: true

    datacenter: eu

    encrypt: "RIxqpNlOXqtr/j4BgvIMEw=="

    bootstrap_expect: 3
    retry_interval: 15s
    retry_join:
      - 1.1.1.1
      - 2.2.2.2

  register:
    - name: Redis
      checks:
        - script: /usr/local/share/consul/check_redis.py
          interval: 10s
  scripts:
    - source: salt://files/consul/check_redis.py 
      name: /usr/local/share/consul/check_redis.py

consul_template:
  service: true
  config:
    consul: 127.0.0.1:8500
    log_level: info
  tmpl:
    - name: example.com
      source: salt://files/example.com.ctmpl
      config:
        template:
          source: /etc/consul-template/tmpl-source/example.com.ctmpl
          destination: /etc/nginx/sites-enabled/example.com
          command: systemctl restart nginx
