{% import_yaml "consul/defaults.yaml" as defaults %}

{% set consul = salt['pillar.get']('consul', default=defaults.consul, merge=True) %}

{% do consul.config.update({'retry_join': consul.config.retry_join or []}) %}
