{% import_yaml slspath+"/defaults.yaml" as defaults %}

{% set consul = salt['pillar.get']('consul', default=defaults.consul, merge=True) %}

{## Add any overrides based on CPU architecture. ##}
{% set cpu_arch_map = salt['grains.filter_by']({
        'armv6l': {
            "arch": 'arm'
        },
        'armv7l': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        }
  }
  ,grain="cpuarch"
  ,merge=consul)
%}

{% do consul.update(cpu_arch_map) %}

{% do consul.config.update({'retry_join': consul.config.retry_join or []}) %}
