[Unit]
Description=consul
Wants=network.target
After=network.target

[Service]
Environment="GOMAXPROCS=2" "PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d {{ salt['pillar.get']('consul:startup_params', '') }}
ExecReload=/bin/sh -c "/usr/local/bin/consul validate /etc/consul.d && /bin/kill -HUP $MAINPID"
KillSignal=TERM
User=consul

[Install]
WantedBy=multi-user.target
